[Desktop Entry]
Version=1.0
Type=Application
Categories=Game;Emulator;
Name=ShadPS4
GenericName=PS4 Emulator
Comment=An early PS4 emulator written in C++
Exec=/usr/bin/shadps4
Icon=/usr/share/icons/hicolor/128x128/apps/shadps4.png
StartupWMClass=shadps4
Keywords=ps4;emulator;game
